<!DOCTYPE html>
<!--html5-->

<html>

    <head>
        <meta charset = "UTF-8">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

    <body>
        <div class="container">
        <ul class="list-inline">
            <li class="list-inline-item">Lorem ipsum</li>
            <li class="list-inline-item">Nulla voluptpat</li>
        </ul>
 
        <dl class="row">
            <dt class="col-sm-3 text-truncate">동해물과 백두산이 마르고 달호도록 하느님이 보호하사 우리나라만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이보전하세</dt>
            <dd class="col-sm-9">Fusce dapibus, tellus ac curssfjdka commodpj</dd>
            <dt class="col-sm-3">Nesting</dt>
            <dd class="col-sm-9">
                <dl class="row">
                    <dt class="col-sm-4">Nested Definition</dt>
                    <dd class="col-sm-8">정말 이대로 끝날거라면 이게 마지막이라면 돌아와 그때로 서로 몰랐던 그 때로 너무 늦어버리면 너무 늦어버리면 내가 사랑하는게 너무 힘이들어 날 버릴까봐</dd>
                </dl>
            </dd>
        </dl>
        <pre><cod>&lt;p&gt;Sample text here...&lt;/p&gt;</cod></pre>
        </div>
    </body>
</html>