<!DOCTYPE html>
<!--html5-->

<html>

    <head>
        <meta charset = "UTF-8">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

    <body>
        <div class="container">
            <div class="card-deck">
                <div class="card">
                    <img src="../../public/images/klematis_big.jpg" style="width:100%;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="../../public/images/klematis_big.jpg">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="../../public/images/klematis_big.jpg">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                    </div>
                </div>
            </div>
            <div class="card-columns">
                <div class="card">
                    <img src="../../public/images/klematis_big.jpg">
                    <div class="card-body">
                        <h5 class="card-title">Card title1</h5>
                        <p class="card-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="../../public/images/klematis_big.jpg">
                    <div class="card-body">
                        <h5 class="card-title">Card title2</h5>
                        <p class="card-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="../../public/images/klematis_big.jpg">
                    <div class="card-body">
                        <h5 class="card-title">Card title3</h5>
                        <p class="card-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="../../public/images/klematis_big.jpg">
                    <div class="card-body">
                        <h5 class="card-title">Card title4</h5>
                        <p class="card-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                    </div>
                </div>          
                <div class="card">
                    <img src="../../public/images/klematis_big.jpg">
                    <div class="card-body">
                        <h5 class="card-title">Card title5</h5>
                        <p class="card-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="../../public/images/klematis_big.jpg">
                    <div class="card-body">
                        <h5 class="card-title">Card title6</h5>
                        <p class="card-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="../../public/images/klematis_big.jpg">
                    <div class="card-body">
                        <h5 class="card-title">Card title7</h5>
                        <p class="card-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="../../public/images/klematis_big.jpg">
                    <div class="card-body">
                        <h5 class="card-title">Card title8</h5>
                        <p class="card-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                    </div>
                </div>    
            </div>
        </div>
    </body>

</html>