<!DOCTYPE html>
<!--html5-->
<html>

    <head>
        <meta charset = "UTF-8">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center">
                <h1>Pricing</h1>
                <p>CHINA’S ECONOMY is slowing, again. After a good start to the year annual growth slipped to 6.2% in the second quarter, the country’s weakest expansion in nearly three decades. But that is hardly cause for panic. For an economy now worth nearly $14trn, such a growth rate is impressive. As the trade war with America hurts exporters, it also underlines the extent to which China’s economy is now fuelled by domestic demand. The question for the coming months is whether that domestic strength will remain sufficient to offset the trade turmoil.</p>
                
            
            <div class="col-lg-4 col-md-6 border border-muted">
                <div class="mb-3 border-bottom">Free</div>
                <div><h2>$0</h2>/ mo <p>10 users included 2 GB of storage Email support Help center access</p>
                <button class="border border-primary bg-white rounded text-primary">Sign up for free</button>
                </div>
             </div>

             <div class="col-lg-4 col-md-6 border border-muted">
                    <div class="mb-3 border-bottom">Pro</div>
                    <div><h2>$15</h2>/ mo <p>20 users included 10 GB of storage Email support Help center access</p>
                    <button class="border border-primary bg-primary rounded text-white">Get started</button>
                    </div>
                 </div>

             <div class="col-lg-4 col-md-6 border border-muted">
                    <div class="mb-3 border-bottom">Pro</div>
                    <div><h2>$29</h2>/ mo <p>30 users included 15 GB of storage Email support Help center access</p>
                    <button class="border border-primary bg-primary rounded text-white">Contact us</button>
                    </div>
                 </div>
        </div>
    </div>
    </body>

</html>