<!DOCTYPE html>
<!--html5-->
<html>

    <head>
        <meta charset = "UTF-8">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
       <div class="container">
           <div class="mb-3 row justify-content-center text-center">
               <div class="col-md-8 col-sm-12">
                   <h1>Pricing</h1>
                   CHINA’S ECONOMY is slowing, again. After a good start to the year annual growth slipped to 6.2% in the second quarter, the country’s weakest expansion in nearly three decades. But that is hardly cause for panic. For an economy now worth nearly $14trn, such a growth rate is impressive. As the trade war with America hurts exporters, it also underlines the extent to which China’s economy is now fuelled by domestic demand. The question for the coming months is whether that domestic strength will remain sufficient to offset the trade turmoil.
               </div>
           </div>
           <!--상단문구끝-->
           <div class="row">
               <div class="my-1 col-sm-12 col-md-6 col-lg-4">
                   <div class="bg-light border border-light text-center img-thumbnail">
                       Free
                       <div class="bg-white p-3">
                           <h3>$0 <small class="text-muted"> / mo</small></h3>
                           <ul class="list-unstyled">
                                <li>10 users included</li>
                                <li>2GB of storage</li>
                                <li>Email support</li>
                                <li>Help center access</li>
                           </ul>
                           <button class="col py-1 border border-primary text-primary bg-white rounded">Sign up for free</button>
                       </div>
                   </div>
               </div>
               <!--1번카드끝-->
               <div class="my-1 col-sm-12 col-md-6 col-lg-4">
                   <div class="bg-light border border-light text-center img-thumbnail">
                       Pro
                       <div class="bg-white p-3">
                           <h3>$15<small class="text-muted"> / mo</small></h3>
                       <ul class="list-unstyled">
                           <li>20 users included</li>
                           <li>10GB of storage</li>
                           <li>Priority email support</li>
                           <li>Help center access</li>
                       </ul>
                       <button class="col py-1 border border-primary text-white bg-primary rounded">Get started</button>
                        </div>
                   </div>
               </div>
               <!--2번카드끝-->
               <div class="my-1 col-sm-12 col-md-6 col-lg-4">
                   <div class="bg-light border border-light text-center img-thumbnail">
                       Enterprise
                       <div class="bg-white p-3">
                           <h3>$29<small class="text-muted"> / mo</small></h3>
                           <ul class="list-unstyled">
                                <li>30 users included</li>
                                <li>15GB of storage</li>
                                <li>Phone and email support</li>
                                <li>Help center access</li>
                           </ul>
                           <button class="col py-1 border border-primary text-white bg-primary rounded">Contact us</button>
                       </div>
                   </div>
               </div>
           </div>
       </div>
    </body>

</html>