<!DOCTYPE html>
<!--html_5-->
<html>
    <head>
        <meta charset = "UTF-8">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <title>jaejeong's- Thema Preview</title>
        <!--타이틀명-->
    </head>
    <body>
     <div class="container">
         <div class="row">
             <div class="col-lg-12 text-center">
                 <h2>Services</h2>
                 <h4 class="text-muted">Lorem ipsum dolor sit amet consectetur.</h4>
             </div>
         </div>
         <!--상단 문구-->
         <div class="row text-center">
            <div class="col-md-4">
                <img src="../../public/images/cart.png" class="rounded-circle bg-warning" width="130" height="130" alt="cart">
            <h4>E-commerce</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
            <!--Ecommerce코드-->
            <div class="col-md-4">
               <img src="../../public/images/laptop.png" class="rounded-circle bg-warning"  width="130" height="130" alt="laptop"> 
            <h4>Responsive Design</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
            <div class="col-md-4">
                <img src="../../public/images/lock.png" class="rounded-circle bg-warning"  width="130" height="130" alt="lock">
            <h4>Web Security</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
         </div>
     </div>
     <!--서비스부분끝-->
     <div class="container bg-light">
         <div class="row">
             <div class="col-lg-12 text-center">
                 <h2>PORTFOLIO</h2>
                 <h4 class="text-muted">Lorem ipsum dolor sit amet consectetur.</h4>
             </div>
         </div>
         <!--상단문구-->
         <div class="container text-center">
             <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="container bg-white">
                                <div class="row">
                                    <img src="../../public/images/1t.jpg" width="100%" height="200px" alt="1p"> 
                                </div>
                                <h3>Threads</h3>
                                <p class="text-muted">Illustration</p>
                            </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                            <div class="container bg-white">
                                <div class="row">
                                    <img src="../../public/images/2p.jpg" width="100%" height="200px" alt="1p"> 
                                </div>
                                <h3>Explore</h3>
                                <p class="text-muted">Graphic Design</p>
                            </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                            <div class="container bg-white">
                                <div class="row">
                                    <img src="../../public/images/3p.jpg" width="100%" height="200px" alt="1p"> 
                                </div>
                                <h3>Finish</h3>
                                <p class="text-muted">Identity</p>
                            </div>
                    </div>
            </div>
        </div>
        <div class="container text-center">
                <div class="row">
                           <div class="col-md-4 col-sm-6">
                               <div class="container bg-white">
                                   <div class="row">
                                       <img src="../../public/images/4p.jpg" width="100%" height="200px" alt="1p"> 
                                   </div>
                                   <h3>Lines</h3>
                                   <p class="text-muted">Branding</p>
                               </div>
                       </div>
                       <div class="col-md-4 col-sm-6">
                               <div class="container bg-white">
                                   <div class="row">
                                       <img src="../../public/images/5p.jpg" width="100%" height="200px" alt="1p"> 
                                   </div>
                                   <h3>Southwest</h3>
                                   <p class="text-muted">Website Design</p>
                               </div>
                       </div>
                       <div class="col-md-4 col-sm-6">
                               <div class="container bg-white">
                                   <div class="row">
                                       <img src="../../public/images/6p.jpg" width="100%" height="200px" alt="1p"> 
                                   </div>
                                   <h3>Window</h3>
                                   <p class="text-muted">Photography</p>
                               </div>
                       </div>
               </div>
           </div>
    </body>

</html>